version: "3.8"
services:
  postgres:
    image: postgres:17
    environment:  
      POSTGRES_USER: navin 
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: telecom  
    ports:
      - "5433:5432"
    networks:
      - my-network  
    volumes:
      - postgres-s-data:/var/lib/postgresql/data
  app:
    build: .
    ports:
      - "8080:8080"
    networks:
      - my-network    

networks:
  my-network:
    driver: bridge
  
volumes:
  postgres-s-data: