version: "3.8"
services:
  app:
    build: .
    ports:
      - "8080:8080"

  postgres:
    image: postgres:latest
    environment:  
      POSTGRES_USER: navin
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres  
    ports:
      - "5433:5432"
